<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="IgnoreRewriteStaticFiles" stopProcessing="true">
          <match url=".js|.css|.html|.ico|.jpg|.png|.gif" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="RewriteAllToIndex" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*?" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
