 <!--Bird Table partial-->
<section>
  <div class="container">
      <div>
        <h2 class="section-heading">BirdTable</h2>

        <div class="col-lg-12">
          <!--<span *ngIf="showSpinner">-->
          <!--<i class="fa fa-spinner fa-spin fa-3x img-centered"></i>-->
          <!--</span>-->
          <div id="pageContent" class="text-black text-justify">
            <div class="pageContent" innerHtml="{{pageContent}}"></div>
          </div>
        </div>

    </div>
  </div>
</section>
