<!-- Footer -->
<footer id="footerSection">
  <div class="container-fluid">
    <div class="row footerRow">

      <div class="col-md-2">
        <a href="http://www.forgeinternational.com/" target="_blank">
          <img class="forge" >
        </a>
      </div>

      <div class="col-md-2">
      <a href="http://www.ccpas.org/"  target="_blank">
            <img class="ccpas" >
          </a>
      </div>

      <div class="col-md-2">
      <a href="http://www.eauk.org/"  target="_blank">
          <img class="ea-member" >
        </a>
      </div>

      <div class="col-md-6 ">
        <strong class="copyright">Copyright &copy; TABLE 2017</strong>
      </div>

    </div>
  </div>
</footer>
