/*---------------------------------------------*/
/*Footer styling*/
/*---------------------------------------------*/


footer {
  padding-top: 2em;
  min-height: 10vh;
  background-color: white;
  color: black;
  width: 100%;
}

.footerRow{
  text-align: center;
  margin-top: 1em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}


footer .copyright {
  font-size: 1.5em;
  text-transform: uppercase;
  text-transform: none;
  padding-left: 0.5em;
}

.fa {
  color: black;
  padding-left: 0.5em;
}

.fa:hover, .fa:active {
  color: #fed136;
}

.ea-member {
  content: url("../../../assets/img/eaLogo_L.png");
}

.forge {
  content: url("../../../assets/img/forgeLogo.png");
}

.ccpas {
  content: url("../../../assets/img/CCPASLogo.png");
}





