<!-- Footer -->
<footer id="footerSection">
  <div class="">
    <div class="row footerRow">

      <div class="col-md-4">
        <span class="copyright">
          &copy; TABLE {{getFullYear()}}
        </span>
      </div>

      <!--<div class="col-md-4 ">-->
        <!--<ul class="list-inline quicklinks">-->
          <!--<li class="list-inline-item">-->
            <!--<a href="#">Privacy Policy</a>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
            <!--<a href="#">Terms of Use</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

      <div class="col-md-6 offset-md-2">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="http://www.forgeinternational.com/" target="_blank">
              <img class="forge">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.ccpas.org/"  target="_blank">
            <img class="ccpas" >
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.eauk.org/"  target="_blank">
             <img class="ea-member" >
            </a>
          </li>
        </ul>
      </div>


    </div>
  </div>
</footer>
