#locationSection{
  padding-top: 125px;
  padding-bottom: 200px;
  background: rgba(245,245,245,0.8);
  color: black;

  .sebm-google-map-container {
    height: 400px;
  }

  .mapDiv {
    margin-top: 50px;
  }
}





