
/*---------------------------------------------*/
/*Section Styling*/
/*---------------------------------------------*/

#schedule {
  padding-top: 125px;
  padding-bottom: 200px;
  background: rgba(0,0,0,0.8);
  color:whitesmoke;
}




