<!-- Header -->
<header id="homeHeader" class="container">

  <div class="home-title">
    <h1>
      church in Tandragee
    </h1>
    <a href="#schedule">
      <i class=" fa fa-4x fa-angle-down"></i>
    </a>
  </div>

</header>

<!-- Schedule -->
<section id="schedule">
  <div class="container text-center">
    <h2 class="section-heading">Schedule</h2>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3 class="section-subheading">
          Sunday Morning
        </h3>
        <p>
          10:45am-12pm
        </p>
        <p>
          You are welcome to join us on Sunday morning from 10 for croissants,
          tea/coffee and chat before our program starts at 10:45. It’s warm, friendly, informal
          and relaxed. There is a mixture of modern and traditional songs followed by a relevant
          Bible message and stories of how God has touched lives.
        </p>
      </div>
      <div class="col">
        <h3 class="section-subheading">
          Tuesday Night
        </h3>
        <p>
          7:45-9pm
        </p>
        <p>
          Corporate prayer.
        </p>
      </div>
    </div>
  </div>
</section>

<location></location>


