<!-- Navigation -->

<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarResponsive" data-toggle="collapse" data-target="#navbarResponsive">
      <ul class="navbar-nav navbar-left">
        <li class="nav-item">
          <a class="table-home" routerLink="/"></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto navbar-right">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/beliefs">BELIEFS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/leadership">LEADERSHIP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/contact" >CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/giving" >GIVING</a>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/tabletandragee/"  target="_blank"><i class="fa fa-facebook fa-2x "></i></a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/tabletandragee/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </li>
      </ul>
    </div>

</nav>


<router-outlet></router-outlet>

<!-- Footer -->
<footer id="footerSection">
  <div class="container">
    <div class="row">

      <div class="col-md-4" style="margin-bottom: 5%">
        <span class="copyright">Copyright &copy; TABLE 2017</span>
      </div>

      <div class="col-md-4" style="margin-bottom: 5%">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/tabletandragee/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/tabletandragee/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-md-4" style="margin-bottom: 5%">
        <a href="http://www.eauk.org/"  target="_blank">
          <img class="ea-member img-thumbnail" >
        </a>
      </div>

    </div>
  </div>
</footer>




