
/*---------------------------------------------*/
/*Nav styling*/
/*---------------------------------------------*/
#mainNav {
  background-color: black;
  opacity: 0.7;
  min-height: 50px;
  color: whitesmoke;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;

  .nav-link {
    padding-top: 3em;
  }

  a.nav-link{
    color: whitesmoke;
  }

  a:hover, a:active {
    color: #fed136;
  }

  .fa {
    padding-top: 1.3em;
    color: whitesmoke;
    padding-left: 0.5em;
  }

  .fa-instagram {
    margin-right: 2em;
  }

  .fa:hover, .fa:active {
    color: #fed136;
  }

  .table-home {
    content: url("../assets/img/TableLogoNew1.png");
    margin-left: 4em;
    padding-top: 0.5em;
    font-family: 'Playfair Display';
    text-transform: uppercase;
    font-weight: bold;
  }


  @media (max-width: 768px) {
    .nav-link {
      padding-top: 0;
    }
    .fa {
      padding-top: 0em;
    }
    .table-home {
      content: url("../assets/img/LogoNew.png");
      margin-left: 0em;
    }
  }


}


/*---------------------------------------------*/
/*Footer styling*/
/*---------------------------------------------*/


footer {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
  background-color: black;
  color: white;
}


footer span.copyright {
  font-size: large;
  line-height: 60px;
  text-transform: uppercase;
  text-transform: none;
}

.ea-member {
  content: url("../assets/img/ea.png");
}


router-outlet  {
  flex:1;
}





