
<!-- Leadership section-->
<section id="leadership">
  <div class="container">

        <h2 class="section-heading text-center">Leadership</h2>

            <p>Table was founded and is led by David and Linda Spence who have lived in Tandragee for
              fourteen years and have three children. Their vision is to see lives transformed through
              the healing community of the local church as people love each other, share life together
              and bless the town.</p>
            <p>David is a passionate communicator of God’s Word who inspires people to follow Jesus.
              He has taught in Portadown College since 2001 and now runs the Chemistry Department.
              David enjoys live music, movies, books and good coffee.</p>
            <p> Linda worked as a dentist for fifteen years and continues to thrive on working with people.
              She loves the Bible and has a Diploma in Christian Education and is working towards a Diploma
              in Counselling. Linda also enjoys working with her hands and runs a pottery business called
              'Sweetheart Pottery'.</p>

            <img class="dl-image">


  </div>
</section>
