  <!-- Blog Content -->

  <section id="blog">
    <div class="container col-xs-12">

      <h2 class="section-heading">Blog</h2>


        <div class="container postContainer"*ngFor="let post of postsContent">


          <div class=" text-center">
            <h5 class="subHeader">
              {{post.title.rendered}}
            </h5>
            <h5 class="text-muted">
              AUTHOR: {{getAuthor(post.author)}}
            </h5>
          </div>


          <div  [ngSwitch]="post.showAll">
            <div *ngSwitchCase="true" innerHtml="{{post.content.rendered }}"></div>
            <div *ngSwitchCase="false" innerHtml="{{post.content.rendered | slice:0:500 }}..."></div>
            <div *ngSwitchDefault innerHtml="{{post.content.rendered | slice:0:500 }}...">
            </div>
          </div>




          <button class="btn btn-info" (click)="post.showAll = !post.showAll">
            {{post.showAll ? 'Hide Full Post' : 'Show Full Post'}}
          </button>

        </div>


    </div>
  </section>
