
#blog{
  background: rgba(245,245,245,0.8);
  color: black;

  .blogContainer{
  }

  .postContainer{
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: outset;
  }

  .dateDiv{
    text-align: center;
    margin-left: 0.5em;
  }

  .titleDiv{
    text-align: center;
    margin-bottom: 1em;
  }

  .fa-calendar{
    //color: lightskyblue;
    margin-bottom:0.25em;
    padding-left: 0.5em;
  }

  .fa-minus-circle{
    color: darkred;
  }

  .fa-plus-circle{
    color:green;
  }


  .subHeader{
    padding-left: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
  }


  .btn{
    margin-bottom:1em;
  }

}



