  <!-- Blog Content -->

  <section id="blog">
    <div class="container">
      <h2 class="section-heading">Blog</h2>

      <div class="">
        <div id="" class="text-black text-justify">

            <div class="card" id="{{page.slug}}" *ngFor="let page of pageContent">

              <div class="card-header">
                <div class="">
                  <a ng-href="#"(click)="page.show = !page.show">
                    <i class="fa fa-2x pull-right" [ngClass]="page.show ?'fa-minus-circle':'fa-plus-circle'"></i>

                  </a>
                  <i class="fa fa-calendar fa-2x"></i>
                  <h5 class="card-title">
                    {{page.date | date}}
                  </h5>
                </div>


                <div class="">
                  <h5 class="subHeader card-title text-center">
                    {{page.title.rendered}}
                  </h5>
                  <h6 class="card-subtitle text-center text-muted">
                    {{getAuthor(page.author)}}
                  </h6>
                </div>



              </div>


              <div class="card-block">
                <div class="pageContent"
                     *ngIf="!page.show" innerHtml="{{page.content.rendered |slice:0:500}}....">
                </div>

                <div class="pageContent"
                     *ngIf="page.show" innerHtml="{{page.content.rendered}}">Text to show
                </div>

                <button class="btn btn-info pull-left" (click)="page.show = !page.show">
                  {{page.show ? 'Hide Full Post' : 'Show Full Post'}}
                </button>
              </div>

            </div>




        </div>
      </div>
    </div>
  </section>
